<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<span style="color:red" th:text="${result}"></span>
<h2>Add Product</h2>
<form method="post" th:action="@{/addProductInDb}" th:object="${product}">
<label>PId</label>
<input type="number" th:field="*{pid}"/><br/>
<label>PName</label>
<input type="text" th:field="*{pname}"/><br/>
<label>Price</label>
<input type="number" th:field="*{price}"/><br/>
<label>Qty</label>
<input type="number" th:field="*{qty}"/><br/>
<input type="submit" value="Store Product"/>
<input type="reset" value="reset"/>
</form>
<br/>
<a href="/">Index Page</a>
</body>
</html>