<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<span style="color:red" th:text="${result}"></span>
<h2>Update Product</h2>
<form method="post" th:action="@{/updateProductFromDb}" th:object="${product}">
<label>PId</label>
<input type="number" th:field="*{pid}"/><br/>

<label>Price</label>
<input type="number" th:field="*{price}"/><br/>

<input type="submit" value="Update Product Price"/>
<input type="reset" value="reset"/>
</form>
<br/>
<a href="/">Index Page</a>
</body>
</html>